* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  background-color: #161615e9;
  font-family: 'Roboto', sans-serif;
  font-weight: none;
}

.container {
 width: 100%;
 display: flex;
 flex-direction:column;
 justify-content:center;
 align-items: center;
}

.head1 {
  padding: 40px;
  width: auto;
  color: #E96667;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  background-color: #e9666613;
}

.contact-info form {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-self:center;
  align-items: center;
}

.contact-info .maps-card {
  padding: 20px;
  /* background-color: #EFF1E4; */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: auto 450px;
  height: auto 500px;
}

h1{
 align-items: center;
}

input {
 width: 300px;
 border: 1px;
 border-bottom: 2px solid #E96667;
 outline: none;
 background: none;
 padding: 12px 20px;
 margin: 8px 0;
 justify-content: center;
 align-items: center;

}


.input2, .input3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

#names {
 width: 640px;
}


#Email {
 width: 300px;
}

#Phone {
  width: 300px;
 
 }


#Message {
 width: 640px;

}

button {
  width: 200px;
  height: 55px;
  border-radius: 100px;
  border: none;
  flex-direction: row;
  background-color: #E96667;
  color: beige;
  text-align: center;
  padding: 20px;
 
}

.under-card {
 display: inline-flex;
 justify-content: space-around;
 height: 200px;
 width: 100%;
 background-color: white;
 color: #E96667;
 position: relative; bottom: -340px;
 padding: 50px;
}


 @media (max-width: 1019px) {
  .container {
    display: flex;
    flex-direction:column;
  }

  .contact-info {
    display: flex;
    flex-direction:column;
  }
  
  .contact-info .maps-card {
    width: 100%;
    height: auto 500px;
  }
  /* form, .maps-card {
    width: auto;
    max-width: none;
    flex-direction: column;
  } */
  
  input, .input1, .input2, .input3, .input4, #names, #Email, #Phone, #Message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;

  }

  .send {
    width: 100%;
    min-width: -1px;
    left: 0;
    height: 55px;
    border-radius: 100px;
    border: none;
    text-align: center;
    background-color: #E96667;
    color: beige;
  }

  .maps-card {
    max-width: none;
    flex-direction: column;
  }

  .under-card {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    bottom: auto;
  }
}