* {
 margin: 0;
 padding: 0;
}

body {
 height: 100%;
 width: auto;
 background: #EFF1E4;
 font-family: Arial, Helvetica, sans-serif;
 font: 25px;
}

img {
 width: 200px;
 height: 200px;
 padding: 50px;
 padding-left: 60px;
}

.head1 {
 padding: 40px;
 position: relative; top: 100px;
 position: relative; left: 300px;
 width: auto;
 color: #E96667;
}

h1{
 align-items: center;
 
}


.container {
 padding: 40px;
 padding-right: 40px;
 height: auto;
 width: 100%;
 display: inline-flex;
 position: relative; top: 100px;
 position: relative; left: 100px;
 justify-content: center;
 align-items: center;
 background-color: bisque;
}

form {
 width: auto;
 padding: 20px;
 justify-self: center;
 align-items: center;

}

.page {
 display: flex;
}


input {
 padding: 20px;
 width: 300px;
 border: hidden;
 border-bottom: 2px solid #E96667;
 outline: none;
 background-color: none;
 justify-content: center;
 align-items: center;

 background-color: bisque;
}

.input1, .input2, .input3{
 padding: 50px;
}

#names {
 width: 640px;
}


#Email {
 width: 300px;
}


#phone {
 width: 20px;
 position: relative; left: 150px;
}


#Message {
 width: 640px;
 height: 30px;
}

button {
 text-align: center;
}

.send {
 width: 200px;
 height: 55px;
 border-radius: 100px;
 border: none;
 position: relative; left: 50px;
 background-color: #E96667;
 color: beige;
 
}

.maps-card {
 width: 25%;
 padding: 20px;
 background-color: #EFF1E4;
 display: inline-flex;
 justify-content: center;
 align-items: center;
}

iframe {
 width: auto 450px;
 height: auto 500px;
 justify-content: center;
 align-items: center;
}

.under-card {
 display: inline-flex;
 justify-content: space-around;
 height: 100px;
 width: 100%;
 background-color: white;
 color: #E96667;
 position: relative; bottom: -340px;
 padding: 50px;
 
}

