article {
    margin: 1rem;
    text-align: center;
}

#imgFoodTruck {
    box-shadow: 0 2px 10px -1px rgb(210, 210, 169), 0 4px 20px -2px rgb(154, 77, 77);
}

footer {
    text-align: center;
    margin: 1rem;
}

.parallax{
    background-image: url("images/homePlaceholder.png");
    padding-top: 50px;
}

