* {
  box-sizing: border-box;
}

body {
  background-color: #F6F9F1;
  margin: auto;
}

.carousel {
  width: 50vw;
  margin: 0 20% 0 17%;
}

  .grid-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
      "main menu";
  }
  
.grid-item2 {
  grid-area: menu;
  text-align: center;
  background-image:url(./images/menu.jpg);
  transform: scaleX(-1);
}

.grid-item3 { 
    grid-area: main;
    text-align: center;
    background:url(./images/menu.jpg);
}

img {
    max-width:100%;
    max-height:100%;
}

/* parallax */

.parallax {
  background-image: url("images/homePlaceholder.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end parallax */



/* tablet phone */
@media screen and (max-width: 468px)
{

  .grid-container
    {
      display: inline;
      grid-template-columns: 1fr;
      gap: 10px;
    }

  .welcome {
    font-size: 15vw;
  }



}


