@font-face{
    font-family: "RobotoReg";
    src: url('fonts/Roboto/Roboto-Regular.ttf');
} 

@font-face{
    font-family: "RobotoBold";
    src: url('fonts/Roboto/Roboto-Bold.ttf');
} 

@font-face{
    font-family: "RobotoItalic";
    src: url('fonts/Roboto/Roboto-LightItalic.ttf');
} 

@font-face {
    font-family: "Baskerville";
    src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    background-color: #EFF1E4;
    font-family: "RobotoReg";
}

b{
    font-family: "RobotoBold";
}

i{
    font-family: "RobotoItalic";
}

.parallax {
    background-image: url("images/homePlaceholder.png");
    padding-top: 50px;
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax .welcome {
    font-family: "Baskerville";
    color: white;
    font-size: 10vw;
    text-shadow: -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

hr {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}

footer{
    text-align: center;
    background-color: #161615e9;
    height: 50px;
    width: 100%;
    margin: 0;
    color: #E96667;
    padding-top: 1rem;
    box-shadow: 0 0px 10px -1px rgb(210, 210, 169), 0 0px 20px -2px rgb(154, 77, 77);
}