/* @font-face{
    font-family: "roboto-regular";
    src: src('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    /* background-color: #F6F9F1; */
    background-color: #EFF1E4;
    /* font-family: "roboto-regular"; */
}

.parallax {
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax .welcome {
    color: white;
    font-size: 15vw;
    text-shadow: -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

hr {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}

